@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  cursor: none;
}

body {
  min-height: 100dvh;
  max-height: 100dvh;
  background: url("../Images/Background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.stats {
  padding: 1% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > p {
    background-color: #202020;
    padding: 5px 10px;
    color: #fff;
  }
}

#present {
  display: none;
  width: 50px;

  position: absolute;
  top: 1%;
  left: 1%;
}

#destiny {
  display: none;
  position: absolute;
  top: 1%;
  left: 1%;

  width: 60px;
  z-index: 1;
}

.modal-background{
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: default;

    background: linear-gradient(180deg, #202020, rgba(0,0,0,0), #202020);

    > .modal-body{

        background-color: #fff;
        margin-bottom: 5%;
        width: 50%;
        min-width: 150px;
        max-width: 300px;
        padding: 1%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        cursor: default;

        > h3{

            margin-bottom: 2%;
            text-align: center;
            cursor: default;

        }

        > p{

            text-align: center;

            cursor: default;

        }

        > #share{

            display: none;
            color: rgb(110, 170, 234);
            background-color: #e5e5e5;
            margin: 5% 0 1% 0;
            padding: 5px 15px;
            cursor: pointer;

            &:hover{
                opacity: 0.6;
                transition: .25s;
            }

        }

        > #button{

            color: rgb(110, 170, 234);
            background-color: #e5e5e5;
            margin: 2% 0;
            padding: 5px 15px;
            cursor: pointer;

            &:hover{
                opacity: 0.6;
                transition: .25s;
            }

        }

    }

}